body {
    background-color: #70CF51;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    margin:0px; padding:0px;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

fish {
    background-image: url(../images/fish.png);
    width:130px; height: 110px;
    filter: hue-rotate(90deg);
    cursor: pointer;
}

bubble {
    background-image: url(../images/bubble.png);
    width:55px; height: 55px;
    cursor: pointer;
}

background {
	background-image: url(../images/water.jpg);
    width:100%; height: 100%;
    background-size: cover;
}

.dead {
    background-image: url(../images/bones.png);
}